*.class

# Package Files #
*.dex
*.war
*.ear
*.apk
bin/
bin
gen/
release/
release
gen
.metadata/
.metadata
*.project
*/target
target
tmp
*~
*/test-output
temp-testng-customsuite.xml
**pom.xml.releaseBackup
release.properties
project.properties
*.iws
**.iml
*/seed.txt
notes
logs
gen-external-apklibs
.idea/*
!.idea/codeStyleSettings.xml
out
.DS_Store
*.iml
classes
